.header
    text-align: center
    height: 100px
    // background: red
    display: flex
    .header_content
        color: #ffffff
        margin: auto
        .header_container
            display: flex
            align-items: center
            font-size: 18px
            img 
                height: 20px
                width: 20px
                padding: 0 10px
                margin-top: 3px

        