.doughnut
    // display: flex
    height: calc( 100% -  150px - 40%)
    
    .doughnut_container
        margin: auto
        position: relative
        height: 100%
        width: 100%
        display: flex
        align-items: center
        justify-content: center
        .balance
            color: #ffffff
            position: absolute
            text-align: center
            .balance_title
                margin-top: 5px
                font-size: 16px
                color: #BABBBE
                @media screen and ( max-width: 480px )
                    font-size: 14px
            .balance_number
                font-size: 40px
                @media screen and ( max-width: 480px )
                    font-size: 30px
                    
    .title
        color: #BABBBE
        text-align: center
        font-size: 22px
        transition: all .5s
        .title_number
            color: #ffffff
            padding: 30px 0 20px 0
            display: flex
            align-items: center
            justify-content: center
            img
                width: 20px
                padding: 0 5px 0 0
    .statistic
        color: #ffffff
        height: calc( 100% -  150px - 10%)
        display: flex
        .statistic_container
            margin: auto
            display: flex
            width: 50%
            height: 50%
            font-size: 30px
            .in
                border: 2px solid #142E50
                border-radius: 5px
                width: 36%
                margin: 0 7%
                display: flex
                justify-content: center
                align-items: center
                img
                    width: 25px
                    margin: 15px 0 0 5px
                // @media screen and ( max-width: 480px )
                    // border: 0px
            .out
                border: 2px solid #531A35
                border-radius: 5px
                width: 36%
                margin: 0 7%
                display: flex
                justify-content: center
                align-items: center
                img
                    width: 25px
                    margin: 15px 0 0 5px
                // @media screen and ( max-width: 480px )
                //     border: 0px
        @media screen and ( max-width: 800px )
            height: calc( 100% -  150px - 20%)
          
