.navigation_date
    display: flex
    width: 100%
    height: 50px
    background: #0E0F1A
    display: flex
    .container
        margin: auto
        height: 100%
        display: flex
        // overflow-x: auto
        width: 80%
        .item
            display: flex
            align-items: center
            padding: 0 20px
            height: 100%
            cursor: pointer
            color: #B9B9BB
            border-bottom: 2px solid #0E0F1A
            transition: all .5s
            justify-content: center
            &.active
                border-bottom: 2px solid #0B78E3
                color: #ffffff

            

                